body,
html {
  height: 100%;
}

body {
  background-image: linear-gradient(#6e3f98 9%, #d6ab97);
  background-repeat: no-repeat;
}

/* nav */

.radius {
  border-radius: 10px;
}
.bg-custom {
  /* background-color: #38065f; */
  opacity: 0.8;
  background-color: #e6e6ff;
}

.opacity {
  opacity: 0.8;
}

.main-bg {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(9%, #6e3f98),
    to(#d6ab97)
  );
}

.error-container {
  color: rgb(202, 78, 78);
  margin: auto auto;
  text-align: center;
  height: 0px;
  opacity: 0;
  transition: all 0.5s ease;
}

.display {
  /* display: block; */
  position: relative;
  transform: translate(0px, 10px);
  opacity: 1;
}

.no-display {
  display: none;
}
